<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css')}}"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="btn_container">
      <button
        class="check_btn"
        role="button"
        onclick="location.href='{{ url_for('vigenere') }}'"
      >
        vigenere cipher
      </button>

      <button
        class="check_btn"
        role="button"
        onclick="location.href='{{ url_for('autokey_vigenere') }}'"
      >
        auto-key vigenere cipher
      </button>

      <button
        class="check_btn"
        role="button"
        onclick="location.href='{{ url_for('ext_vigenere') }}'"
      >
        Extended vigenere cipher
      </button>

      <button
        class="check_btn"
        role="button"
        onclick="location.href='{{ url_for('affine') }}'"
      >
        affine cipher
      </button>

      <button
        class="check_btn"
        role="button"
        onclick="location.href='{{ url_for('playfair') }}'"
      >
        playfair cipher
      </button>

      <button
        class="check_btn"
        role="button"
        onclick="location.href='{{ url_for('hill') }}'"
      >
        hill cipher
      </button>
    </div>
  </body>
</html>
